{% extends "auctions/layout.html" %}

{% block body %}
<form action="" method="post">
  {% csrf_token %}
  <table class="table">
    {{ form.as_table }}
  </table> 
  {% if Categories %}
    <label for="Category" style="margin: 10px;"><b>Choose a Category: </b></label> 
    <select name="category" id="Category">
      {% for category in Categories %}
      <option value="{{category.name}}">{{category.name}}</option>
      {% endfor %}
    </select>
    <br><input type="submit" value="Submit" class="btn-primary" style="margin-left: 200px;">
  {% endif %} 
</form>
{% endblock %}